In [19]:
# Import libraries

import pandas as pd
import numpy as np
from scipy.stats import zscore

In [142]:
# Import the dataset

df = pd.read_excel(r"C:\Users\Enes\Desktop\Project07\unirankings1.xlsx")
df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year
0,10,California Institute of Technology,United States,2243,69,0.26,33 : 67,952,956,976,998,978,640,2016
1,20,University of Oxford,United Kingdom,19920,116,0.34,46:54:00,942,865,989,988,731,944,2016
2,30,Stanford University,United States,15596,78,0.22,42:58:00,939,925,962,999,633,763,2016
3,40,University of Cambridge,United Kingdom,18810,118,0.34,46:54:00,928,882,967,970,550,915,2016
4,50,Massachusetts Institute of Technology,United States,11074,90,0.33,37 : 63,920,894,886,997,954,840,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12425,19000,Penza State University,Russian Federation,17934,172,0.12,56:44:00,12193499999999996,143,87,78,163,328,2024
12426,19010,Universidad Peruana de Ciencias Aplicadas (UPC),Peru,56595,211,0.01,50:50:00,12147,135,87,101,156,265,2024
12427,19020,Universidade Federal Rural do Semi-Arido,Brazil,8687,124,0.00,49:51:00,11991,191,90,57,166,183,2024
12428,19030,State University of Bahia,Brazil,25067,119,0.00,66:34:00,115655,193,86,41,162,200,2024
12429,19040,Tula State University,Russian Federation,18428,350,0.03,60:40:00,9691,116,90,51,176,190,2024

In [143]:
# Dividing some columns to 10 because of an error occured while importing and exporting the data. (Not neccecary)

# Rank

df['Rank'] = df['Rank']/10
df['Rank'] = df['Rank'].astype(int)

# Students to Staff Ratio

df['Students to Staff Ratio'] = df['Students to Staff Ratio']/10

# Overall Score
df['Overall Score'] = df['Overall Score']/10
df['Overall Score'] = df['Overall Score'].apply(lambda x: '{:.1f}'.format(x))

# Teaching
df['Teaching'] = df['Teaching']/10
df['Teaching'] = df['Teaching'].apply(lambda x: '{:.1f}'.format(x))

# Research Environment
df['Research Environment'] = df['Research Environment']/10
df['Research Environment'] = df['Research Environment'].apply(lambda x: '{:.1f}'.format(x))

# Research Quality
df['Research Quality'] = df['Research Quality']/10
df['Research Quality'] = df['Research Quality'].apply(lambda x: '{:.1f}'.format(x))

# Industry Impact
df['Industry Impact'] = df['Industry Impact']/10
df['Industry Impact'] = df['Industry Impact'].apply(lambda x: '{:.1f}'.format(x))

# International Outlook
df['International Outlook'] = df['International Outlook']/10#df['International Outlook'] = df['International Outlook'].apply(lambda x: '{:.1f}'.format(x))

df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year
0,1,California Institute of Technology,United States,2243,6.9,0.26,33 : 67,95.2,95.6,97.6,99.8,97.8,64.0,2016
1,2,University of Oxford,United Kingdom,19920,11.6,0.34,46:54:00,94.2,86.5,98.9,98.8,73.1,94.4,2016
2,3,Stanford University,United States,15596,7.8,0.22,42:58:00,93.9,92.5,96.2,99.9,63.3,76.3,2016
3,4,University of Cambridge,United Kingdom,18810,11.8,0.34,46:54:00,92.8,88.2,96.7,97.0,55.0,91.5,2016
4,5,Massachusetts Institute of Technology,United States,11074,9.0,0.33,37 : 63,92.0,89.4,88.6,99.7,95.4,84.0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12425,1900,Penza State University,Russian Federation,17934,17.2,0.12,56:44:00,1219349999999999.5,14.3,8.7,7.8,16.3,32.8,2024
12426,1901,Universidad Peruana de Ciencias Aplicadas (UPC),Peru,56595,21.1,0.01,50:50:00,1214.7,13.5,8.7,10.1,15.6,26.5,2024
12427,1902,Universidade Federal Rural do Semi-Arido,Brazil,8687,12.4,0.00,49:51:00,1199.1,19.1,9.0,5.7,16.6,18.3,2024
12428,1903,State University of Bahia,Brazil,25067,11.9,0.00,66:34:00,11565.5,19.3,8.6,4.1,16.2,20.0,2024
12429,1904,Tula State University,Russian Federation,18428,35.0,0.03,60:40:00,969.1,11.6,9.0,5.1,17.6,19.0,2024

In [144]:
# Shaping the Female to Male Ratio for further organizing data.

df['Female to Male Ratio'] = df['Female to Male Ratio'].str.replace(' ', '').str[:5]

df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year
0,1,California Institute of Technology,United States,2243,6.9,0.26,33:67,95.2,95.6,97.6,99.8,97.8,64.0,2016
1,2,University of Oxford,United Kingdom,19920,11.6,0.34,46:54,94.2,86.5,98.9,98.8,73.1,94.4,2016
2,3,Stanford University,United States,15596,7.8,0.22,42:58,93.9,92.5,96.2,99.9,63.3,76.3,2016
3,4,University of Cambridge,United Kingdom,18810,11.8,0.34,46:54,92.8,88.2,96.7,97.0,55.0,91.5,2016
4,5,Massachusetts Institute of Technology,United States,11074,9.0,0.33,37:63,92.0,89.4,88.6,99.7,95.4,84.0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12425,1900,Penza State University,Russian Federation,17934,17.2,0.12,56:44,1219349999999999.5,14.3,8.7,7.8,16.3,32.8,2024
12426,1901,Universidad Peruana de Ciencias Aplicadas (UPC),Peru,56595,21.1,0.01,50:50,1214.7,13.5,8.7,10.1,15.6,26.5,2024
12427,1902,Universidade Federal Rural do Semi-Arido,Brazil,8687,12.4,0.00,49:51,1199.1,19.1,9.0,5.7,16.6,18.3,2024
12428,1903,State University of Bahia,Brazil,25067,11.9,0.00,66:34,11565.5,19.3,8.6,4.1,16.2,20.0,2024
12429,1904,Tula State University,Russian Federation,18428,35.0,0.03,60:40,969.1,11.6,9.0,5.1,17.6,19.0,2024

In [145]:
# Seperating and creating new columns for further analysis.

# Creating Local Student Population
df['Local Student Population'] = df['Student Population'] - (df['Student Population']*df['International Students'])

# Creating International Student Population
df['International Student Population'] = df['Student Population'] - df['Local Student Population']
df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year,Local Student Population,International Student Population
0,1,California Institute of Technology,United States,2243,6.9,0.26,33:67,95.2,95.6,97.6,99.8,97.8,64.0,2016,1659.82,583.18
1,2,University of Oxford,United Kingdom,19920,11.6,0.34,46:54,94.2,86.5,98.9,98.8,73.1,94.4,2016,13147.20,6772.80
2,3,Stanford University,United States,15596,7.8,0.22,42:58,93.9,92.5,96.2,99.9,63.3,76.3,2016,12164.88,3431.12
3,4,University of Cambridge,United Kingdom,18810,11.8,0.34,46:54,92.8,88.2,96.7,97.0,55.0,91.5,2016,12414.60,6395.40
4,5,Massachusetts Institute of Technology,United States,11074,9.0,0.33,37:63,92.0,89.4,88.6,99.7,95.4,84.0,2016,7419.58,3654.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12425,1900,Penza State University,Russian Federation,17934,17.2,0.12,56:44,1219349999999999.5,14.3,8.7,7.8,16.3,32.8,2024,15781.92,2152.08
12426,1901,Universidad Peruana de Ciencias Aplicadas (UPC),Peru,56595,21.1,0.01,50:50,1214.7,13.5,8.7,10.1,15.6,26.5,2024,56029.05,565.95
12427,1902,Universidade Federal Rural do Semi-Arido,Brazil,8687,12.4,0.00,49:51,1199.1,19.1,9.0,5.7,16.6,18.3,2024,8687.00,0.00
12428,1903,State University of Bahia,Brazil,25067,11.9,0.00,66:34,11565.5,19.3,8.6,4.1,16.2,20.0,2024,25067.00,0.00
12429,1904,Tula State University,Russian Federation,18428,35.0,0.03,60:40,969.1,11.6,9.0,5.1,17.6,19.0,2024,17875.16,552.84

In [146]:
# Creating Local Female Student Population with help of using the first 2 digits of Female to Male Ratio
df['Local Female Student Population'] = df.apply(
    lambda row: row['Local Student Population'] * float(row['Female to Male Ratio'][:2]) / 100
    if pd.notna(row['Local Student Population']) and pd.notna(row['Female to Male Ratio']) else pd.NA, axis=1)

# We can create Local Male Student Population with substracting Local Female Student Pop. from Local Student Population 
df['Local Male Student Population'] = df['Local Student Population'] - df['Local Female Student Population']
df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year,Local Student Population,International Student Population,Local Female Student Population,Local Male Student Population
0,1,California Institute of Technology,United States,2243,6.9,0.26,33:67,95.2,95.6,97.6,99.8,97.8,64.0,2016,1659.82,583.18,547.7406,1112.0794
1,2,University of Oxford,United Kingdom,19920,11.6,0.34,46:54,94.2,86.5,98.9,98.8,73.1,94.4,2016,13147.20,6772.80,6047.712,7099.488
2,3,Stanford University,United States,15596,7.8,0.22,42:58,93.9,92.5,96.2,99.9,63.3,76.3,2016,12164.88,3431.12,5109.2496,7055.6304
3,4,University of Cambridge,United Kingdom,18810,11.8,0.34,46:54,92.8,88.2,96.7,97.0,55.0,91.5,2016,12414.60,6395.40,5710.716,6703.884
4,5,Massachusetts Institute of Technology,United States,11074,9.0,0.33,37:63,92.0,89.4,88.6,99.7,95.4,84.0,2016,7419.58,3654.42,2745.2446,4674.3354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12425,1900,Penza State University,Russian Federation,17934,17.2,0.12,56:44,1219349999999999.5,14.3,8.7,7.8,16.3,32.8,2024,15781.92,2152.08,8837.8752,6944.0448
12426,1901,Universidad Peruana de Ciencias Aplicadas (UPC),Peru,56595,21.1,0.01,50:50,1214.7,13.5,8.7,10.1,15.6,26.5,2024,56029.05,565.95,28014.525,28014.525
12427,1902,Universidade Federal Rural do Semi-Arido,Brazil,8687,12.4,0.00,49:51,1199.1,19.1,9.0,5.7,16.6,18.3,2024,8687.00,0.00,4256.63,4430.37
12428,1903,State University of Bahia,Brazil,25067,11.9,0.00,66:34,11565.5,19.3,8.6,4.1,16.2,20.0,2024,25067.00,0.00,16544.22,8522.78
12429,1904,Tula State University,Russian Federation,18428,35.0,0.03,60:40,969.1,11.6,9.0,5.1,17.6,19.0,2024,17875.16,552.84,10725.096,7150.064

In [147]:
# Doing the same iteration here for International Students
df['International Female Student Population'] = df.apply(
    lambda row: row['International Student Population'] * float(row['Female to Male Ratio'][:2]) / 100
    if pd.notna(row['International Student Population']) and pd.notna(row['Female to Male Ratio']) else pd.NA, axis=1)

df['International Male Student Population'] = df['International Student Population'] - df['International Female Student Population']
df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year,Local Student Population,International Student Population,Local Female Student Population,Local Male Student Population,International Female Student Population,International Male Student Population
0,1,California Institute of Technology,United States,2243,6.9,0.26,33:67,95.2,95.6,97.6,99.8,97.8,64.0,2016,1659.82,583.18,547.7406,1112.0794,192.4494,390.7306
1,2,University of Oxford,United Kingdom,19920,11.6,0.34,46:54,94.2,86.5,98.9,98.8,73.1,94.4,2016,13147.20,6772.80,6047.712,7099.488,3115.488,3657.312
2,3,Stanford University,United States,15596,7.8,0.22,42:58,93.9,92.5,96.2,99.9,63.3,76.3,2016,12164.88,3431.12,5109.2496,7055.6304,1441.0704,1990.0496
3,4,University of Cambridge,United Kingdom,18810,11.8,0.34,46:54,92.8,88.2,96.7,97.0,55.0,91.5,2016,12414.60,6395.40,5710.716,6703.884,2941.884,3453.516
4,5,Massachusetts Institute of Technology,United States,11074,9.0,0.33,37:63,92.0,89.4,88.6,99.7,95.4,84.0,2016,7419.58,3654.42,2745.2446,4674.3354,1352.1354,2302.2846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12425,1900,Penza State University,Russian Federation,17934,17.2,0.12,56:44,1219349999999999.5,14.3,8.7,7.8,16.3,32.8,2024,15781.92,2152.08,8837.8752,6944.0448,1205.1648,946.9152
12426,1901,Universidad Peruana de Ciencias Aplicadas (UPC),Peru,56595,21.1,0.01,50:50,1214.7,13.5,8.7,10.1,15.6,26.5,2024,56029.05,565.95,28014.525,28014.525,282.975,282.975
12427,1902,Universidade Federal Rural do Semi-Arido,Brazil,8687,12.4,0.00,49:51,1199.1,19.1,9.0,5.7,16.6,18.3,2024,8687.00,0.00,4256.63,4430.37,0.0,0.0
12428,1903,State University of Bahia,Brazil,25067,11.9,0.00,66:34,11565.5,19.3,8.6,4.1,16.2,20.0,2024,25067.00,0.00,16544.22,8522.78,0.0,0.0
12429,1904,Tula State University,Russian Federation,18428,35.0,0.03,60:40,969.1,11.6,9.0,5.1,17.6,19.0,2024,17875.16,552.84,10725.096,7150.064,331.704,221.136

In [148]:
# Creating new column called Number of Staff for further analysis
df['Number of Staff'] = df['Student Population']/df['Students to Staff Ratio']
df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year,Local Student Population,International Student Population,Local Female Student Population,Local Male Student Population,International Female Student Population,International Male Student Population,Number of Staff
0,1,California Institute of Technology,United States,2243,6.9,0.26,33:67,95.2,95.6,97.6,99.8,97.8,64.0,2016,1659.82,583.18,547.7406,1112.0794,192.4494,390.7306,325.072464
1,2,University of Oxford,United Kingdom,19920,11.6,0.34,46:54,94.2,86.5,98.9,98.8,73.1,94.4,2016,13147.20,6772.80,6047.712,7099.488,3115.488,3657.312,1717.241379
2,3,Stanford University,United States,15596,7.8,0.22,42:58,93.9,92.5,96.2,99.9,63.3,76.3,2016,12164.88,3431.12,5109.2496,7055.6304,1441.0704,1990.0496,1999.487179
3,4,University of Cambridge,United Kingdom,18810,11.8,0.34,46:54,92.8,88.2,96.7,97.0,55.0,91.5,2016,12414.60,6395.40,5710.716,6703.884,2941.884,3453.516,1594.067797
4,5,Massachusetts Institute of Technology,United States,11074,9.0,0.33,37:63,92.0,89.4,88.6,99.7,95.4,84.0,2016,7419.58,3654.42,2745.2446,4674.3354,1352.1354,2302.2846,1230.444444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12425,1900,Penza State University,Russian Federation,17934,17.2,0.12,56:44,1219349999999999.5,14.3,8.7,7.8,16.3,32.8,2024,15781.92,2152.08,8837.8752,6944.0448,1205.1648,946.9152,1042.674419
12426,1901,Universidad Peruana de Ciencias Aplicadas (UPC),Peru,56595,21.1,0.01,50:50,1214.7,13.5,8.7,10.1,15.6,26.5,2024,56029.05,565.95,28014.525,28014.525,282.975,282.975,2682.227488
12427,1902,Universidade Federal Rural do Semi-Arido,Brazil,8687,12.4,0.00,49:51,1199.1,19.1,9.0,5.7,16.6,18.3,2024,8687.00,0.00,4256.63,4430.37,0.0,0.0,700.564516
12428,1903,State University of Bahia,Brazil,25067,11.9,0.00,66:34,11565.5,19.3,8.6,4.1,16.2,20.0,2024,25067.00,0.00,16544.22,8522.78,0.0,0.0,2106.470588
12429,1904,Tula State University,Russian Federation,18428,35.0,0.03,60:40,969.1,11.6,9.0,5.1,17.6,19.0,2024,17875.16,552.84,10725.096,7150.064,331.704,221.136,526.514286

In [149]:
# Convert string values in 'Teaching', 'Research Environment', 'Research Quality', 'Industry Impact', 'International Outlook' columns to numeric values
df[['Teaching', 'Research Environment', 'Research Quality', 'Industry Impact', 'International Outlook']] = df[['Teaching', 'Research Environment', 'Research Quality', 'Industry Impact', 'International Outlook']].apply(pd.to_numeric, errors='coerce')

# Calculating the 'Overall Score' for more accurate values 
df['Overall Score'] = (df['Teaching']+df['Research Environment']+df['Research Quality']+df['Industry Impact']+df['International Outlook'])/5
df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year,Local Student Population,International Student Population,Local Female Student Population,Local Male Student Population,International Female Student Population,International Male Student Population,Number of Staff
0,1,California Institute of Technology,United States,2243,6.9,0.26,33:67,90.96,95.6,97.6,99.8,97.8,64.0,2016,1659.82,583.18,547.7406,1112.0794,192.4494,390.7306,325.072464
1,2,University of Oxford,United Kingdom,19920,11.6,0.34,46:54,90.34,86.5,98.9,98.8,73.1,94.4,2016,13147.20,6772.80,6047.712,7099.488,3115.488,3657.312,1717.241379
2,3,Stanford University,United States,15596,7.8,0.22,42:58,85.64,92.5,96.2,99.9,63.3,76.3,2016,12164.88,3431.12,5109.2496,7055.6304,1441.0704,1990.0496,1999.487179
3,4,University of Cambridge,United Kingdom,18810,11.8,0.34,46:54,85.68,88.2,96.7,97.0,55.0,91.5,2016,12414.60,6395.40,5710.716,6703.884,2941.884,3453.516,1594.067797
4,5,Massachusetts Institute of Technology,United States,11074,9.0,0.33,37:63,91.42,89.4,88.6,99.7,95.4,84.0,2016,7419.58,3654.42,2745.2446,4674.3354,1352.1354,2302.2846,1230.444444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12425,1900,Penza State University,Russian Federation,17934,17.2,0.12,56:44,15.98,14.3,8.7,7.8,16.3,32.8,2024,15781.92,2152.08,8837.8752,6944.0448,1205.1648,946.9152,1042.674419
12426,1901,Universidad Peruana de Ciencias Aplicadas (UPC),Peru,56595,21.1,0.01,50:50,14.88,13.5,8.7,10.1,15.6,26.5,2024,56029.05,565.95,28014.525,28014.525,282.975,282.975,2682.227488
12427,1902,Universidade Federal Rural do Semi-Arido,Brazil,8687,12.4,0.00,49:51,13.74,19.1,9.0,5.7,16.6,18.3,2024,8687.00,0.00,4256.63,4430.37,0.0,0.0,700.564516
12428,1903,State University of Bahia,Brazil,25067,11.9,0.00,66:34,13.64,19.3,8.6,4.1,16.2,20.0,2024,25067.00,0.00,16544.22,8522.78,0.0,0.0,2106.470588
12429,1904,Tula State University,Russian Federation,18428,35.0,0.03,60:40,12.46,11.6,9.0,5.1,17.6,19.0,2024,17875.16,552.84,10725.096,7150.064,331.704,221.136,526.514286

In [150]:
# I looked at the dataset and most of the outliers are in 'Overall Score' column. So let's fix it!
# Specifying the column names from which you want to detect outliers
selected_columns = ['Overall Score']

# Detecting outliers using Z-Score
zscore_threshold = 3
outliers_zscore = df[selected_columns][(np.abs(zscore(df[selected_columns])) > zscore_threshold).any(axis=1)]

# Show the results of the method
print("Z-Score Outliers:")
print(outliers_zscore)

Z-Score Outliers:
     Overall Score
93    1.060893e+14
116   1.008276e+14
121   1.008276e+14
165   9.396596e+13
210   9.396596e+13
212   9.396596e+13
418   9.396596e+13
422   7.669919e+13
461   9.396596e+13
475   1.060893e+14
476   8.824156e+13
494   8.824156e+13
504   7.669919e+13
530   8.824156e+13
533   7.669919e+13
546   7.669919e+14
563   8.824156e+13
602   8.824156e+13
616   7.669919e+13
652   8.824156e+13
669   8.824156e+13
678   1.060893e+14
683   8.824156e+13
699   8.824156e+13
722   8.824156e+13
735   8.824156e+13
745   8.824156e+13
749   8.824156e+13
759   8.824156e+13
764   8.824156e+13
768   8.824156e+13
769   8.824156e+13
773   8.824156e+13
779   8.824156e+13
781   8.824156e+13
785   8.824156e+13

In [151]:
# I did this proccess several times and '14'th index also had outliers but didn't show. So I added here too.
# With help of excel I added the outlier indexes here :D
outlier_scores = [14, 93, 116, 121, 165, 210, 212, 418, 422, 461, 475, 476, 494, 504, 530, 533, 546, 563, 602, 616, 652, 669, 678, 683, 699, 722, 735, 745, 749, 759, 764, 768, 769, 773, 779, 781, 785]

# Find rows with Outlier scores
result_df = df[df.index.isin(outlier_scores)]

result_df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year,Local Student Population,International Student Population,Local Female Student Population,Local Male Student Population,International Female Student Population,International Male Student Population,Number of Staff
14,15,Columbia University,United States,25055,5.9,0.28,NaN,1.248601e+07,85.9,82.2,98.1,6.242969e+07,73.5,2016,18039.60,7015.40,<NA>,<NA>,<NA>,<NA>,4246.610169
93,94,University of Bonn,Germany,32474,70.4,0.12,55:45,1.060893e+14,45.1,47.5,85.3,5.304464e+14,63.6,2016,28577.12,3896.88,15717.416,12859.704,2143.284,1753.596,461.278409
116,115,Purdue University West Lafayette,United States,39256,18.1,0.22,42:58,1.008276e+14,50.2,57.7,63.2,5.041379e+14,66.4,2016,30619.68,8636.32,12860.2656,17759.4144,3627.2544,5009.0656,2168.839779
121,122,University of Florida,United States,50095,18.7,0.09,54:46,1.008276e+14,51.8,56.8,67.7,5.041379e+14,33.3,2016,45586.45,4508.55,24616.683,20969.767,2434.617,2073.933,2678.877005
165,164,Yeshiva University,United States,6753,5.5,0.07,53:47,9.396596e+13,44.8,23.7,92.8,4.698298e+14,28.5,2016,6280.29,472.71,3328.5537,2951.7363,250.5363,222.1737,1227.818182
210,211,Indiana University,United States,62468,13.6,0.13,53:47,9.396596e+13,43.0,27.3,74.8,4.698298e+14,41.2,2016,54347.16,8120.84,28803.9948,25543.1652,4304.0452,3816.7948,4593.235294
212,213,University of Kiel,Germany,24444,23.8,0.08,53:47,9.396596e+13,32.3,20.5,89.5,4.698298e+14,49.4,2016,22488.48,1955.52,11918.8944,10569.5856,1036.4256,919.0944,1027.058824
418,419,Nantes Universitï¿½,France,33866,22.2,0.11,56:44,9.396596e+13,19.6,12.2,69.4,4.698298e+14,35.1,2016,30140.74,3725.26,16878.8144,13261.9256,2086.1456,1639.1144,1525.495495
422,423,University of Neuchï¿½tel,Switzerland,4358,8.5,0.22,59:41,7.669919e+13,24.2,14.7,48.2,3.834959e+14,91.4,2016,3399.24,958.76,2005.5516,1393.6884,565.6684,393.0916,512.705882
461,462,Howard University,United States,10297,6.8,0.05,65:35,9.396596e+13,38.8,11.0,44.5,4.698298e+14,30.3,2016,9782.15,514.85,6358.3975,3423.7525,334.6525,180.1975,1514.264706
475,476,National and Kapodistrian University of Athens,Greece,63052,32.3,0.09,61:39,1.060893e+14,26.7,16.3,45.8,5.304464e+14,39.0,2016,57377.32,5674.68,35000.1652,22377.1548,3461.5548,2213.1252,1952.074303
476,477,Louisiana State University,United States,28116,20.1,0.05,52:48,8.824156e+13,26.8,27.7,37.8,4.412078e+14,26.1,2016,26710.20,1405.80,13889.304,12820.896,731.016,674.784,1398.805970
494,495,Xiamen University,China,32921,12.3,0.05,52:48,8.824156e+13,26.7,15.6,47.0,4.412078e+14,25.0,2016,31274.95,1646.05,16262.974,15011.976,855.946,790.104,2676.504065
504,505,American University of Beirut,Lebanon,7695,8.9,0.25,51:49,7.669919e+13,27.7,11.2,31.9,3.834959e+14,93.0,2016,5771.25,1923.75,2943.3375,2827.9125,981.1125,942.6375,864.606742
530,531,University of Chile,Chile,29207,14.2,0.03,47:53,8.824156e+13,28.3,19.6,30.5,4.412078e+14,44.1,2016,28330.79,876.21,13315.4713,15015.3187,411.8187,464.3913,2056.830986
533,534,University of Burgundy,France,26612,20.8,0.11,54:46,7.669919e+13,21.4,8.8,46.3,3.834959e+14,50.9,2016,23684.68,2927.32,12789.7272,10894.9528,1580.7528,1346.5672,1279.423077
546,547,Blaise Pascal University,France,15619,7.1,0.17,55:45,7.669919e+14,20.2,2.9,46.9,3.834959e+15,66.6,2016,12963.77,2655.23,7130.0735,5833.6965,1460.3765,1194.8535,2199.859155
563,564,Quaid-i-Azam University,Pakistan,12688,25.7,0.00,53:47,8.824156e+13,17.9,9.9,45.6,4.412078e+14,35.4,2016,12688.00,0.00,6724.64,5963.36,0.0,0.0,493.696498
602,603,Texas Tech University,United States,29512,20.9,0.07,46:54,8.824156e+13,27.9,17.2,22.0,4.412078e+14,36.8,2016,27446.16,2065.84,12625.2336,14820.9264,950.2864,1115.5536,1412.057416
616,617,Middlesex University,United Kingdom,17755,24.7,0.44,59:41,7.669919e+13,18.5,10.6,25.7,3.834959e+14,81.0,2016,9942.80,7812.20,5866.252,4076.548,4609.198,3203.002,718.825911
652,653,Universidade Federal do Rio Grande do Sul,Brazil,38743,14.8,0.01,50:50,8.824156e+13,32.6,13.7,16.8,4.412078e+14,18.9,2016,38355.57,387.43,19177.785,19177.785,193.715,193.715,2617.770270
669,670,University of Tehran,Iran,53802,27.0,0.01,45:55,8.824156e+13,27.3,17.7,15.8,4.412078e+14,16.5,2016,53263.98,538.02,23968.791,29295.189,242.109,295.911,1992.666667
678,679,University of Ghana,Ghana,37274,37.5,0.02,41:59,1.060893e+14,15.6,15.6,19.5,5.304464e+14,48.4,2016,36528.52,745.48,14976.6932,21551.8268,305.6468,439.8332,993.973333
683,684,University of Texas at El Paso,United States,19123,29.0,0.07,54:46,8.824156e+13,18.6,18.7,18.4,4.412078e+14,30.4,2016,17784.39,1338.61,9603.5706,8180.8194,722.8494,615.7606,659.413793
699,700,University of Debrecen,Hungary,29714,20.3,0.13,57:43,8.824156e+13,17.3,11.4,20.9,4.412078e+14,49.0,2016,25851.18,3862.82,14735.1726,11116.0074,2201.8074,1661.0126,1463.743842
722,723,AGH University of Krakow,Poland,35569,17.0,0.00,0.069,8.824156e+13,14.2,3.7,35.7,4.412078e+14,17.9,2016,35569.00,0.00,0.0,35569.0,0.0,0.0,2092.294118
735,736,Federal University of Sï¿½o Carlos,Brazil,18587,16.9,0.00,NaN,8.824156e+13,29.0,10.8,11.5,4.412078e+14,16.8,2016,18587.00,0.00,<NA>,<NA>,<NA>,<NA>,1099.822485
745,746,Nagasaki University,Japan,9137,7.2,0.04,36:64,8.824156e+13,22.8,10.8,14.3,4.412078e+14,21.9,2016,8771.52,365.48,3157.7472,5613.7728,131.5728,233.9072,1269.027778
749,750,Suez Canal University,Egypt,16817,6.0,0.00,65:35,8.824156e+13,22.6,5.9,16.0,4.412078e+14,31.6,2016,16817.00,0.00,10931.05,5885.95,0.0,0.0,2802.833333
759,760,"California State University, Long Beach",United States,29594,32.3,0.05,58:42,8.824156e+13,11.6,10.4,23.3,4.412078e+14,18.9,2016,28114.30,1479.70,16306.294,11808.006,858.226,621.474,916.222910
764,765,Federal University of Lavras,Brazil,10350,20.9,0.01,53:47,8.824156e+13,25.8,16.4,3.0,4.412078e+14,14.5,2016,10246.50,103.50,5430.645,4815.855,54.855,48.645,495.215311
768,769,University of Dhaka,Bangladesh,62716,6.9,0.05,34:66,8.824156e+13,21.7,7.2,9.6,4.412078e+14,37.2,2016,59580.20,3135.80,20257.268,39322.932,1066.172,2069.628,9089.275362
769,770,West University of Timisoara,Romania,12933,19.0,0.02,62:38,8.824156e+13,16.1,3.9,22.4,4.412078e+14,21.0,2016,12674.34,258.66,7858.0908,4816.2492,160.3692,98.2908,680.684211
773,774,Showa University,Japan,3675,2.5,0.00,57:43,8.824156e+13,28.5,7.9,7.0,4.412078e+14,14.0,2016,3675.00,0.00,2094.75,1580.25,0.0,0.0,1470.000000
779,780,University of Brasï¿½lia,Brazil,45880,14.5,0.02,52:48,8.824156e+13,21.9,7.4,10.4,4.412078e+14,24.1,2016,44962.40,917.60,23380.448,21581.952,477.152,440.448,3164.137931
781,782,Universidade Federal da Bahia,Brazil,39861,17.9,0.01,47:53,8.824156e+13,18.2,8.1,14.3,4.412078e+14,19.7,2016,39462.39,398.61,18547.3233,20915.0667,187.3467,211.2633,2226.871508
785,786,Universidade Federal do Paranï¿½ (UFPR),Brazil,21850,11.2,0.01,NaN,8.824156e+13,24.6,9.6,7.0,4.412078e+14,15.5,2016,21631.50,218.50,<NA>,<NA>,<NA>,<NA>,1950.892857

In [152]:
# I don't know why but in the middle of proccess the df wasn't showing me Industry Impact, so I wrote this code:
pd.set_option('display.max_columns', None)

# Filter rows with specific indexes
selected_rows = df[df.index.isin(outlier_scores)].copy()  # copy() ile yeni bir DataFrame oluÅŸtur

# Get average by selecting specific columns
average_value = selected_rows[['Teaching', 'Research Environment', 'Research Quality', 'International Outlook']].mean(axis=1)

# Update "Industry Impact" column with average
selected_rows.loc[:, 'Industry Impact'] = average_value

# Show synchronized DataFrame
selected_rows

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year,Local Student Population,International Student Population,Local Female Student Population,Local Male Student Population,International Female Student Population,International Male Student Population,Number of Staff
14,15,Columbia University,United States,25055,5.9,0.28,NaN,1.248601e+07,85.9,82.2,98.1,84.925,73.5,2016,18039.60,7015.40,<NA>,<NA>,<NA>,<NA>,4246.610169
93,94,University of Bonn,Germany,32474,70.4,0.12,55:45,1.060893e+14,45.1,47.5,85.3,60.375,63.6,2016,28577.12,3896.88,15717.416,12859.704,2143.284,1753.596,461.278409
116,115,Purdue University West Lafayette,United States,39256,18.1,0.22,42:58,1.008276e+14,50.2,57.7,63.2,59.375,66.4,2016,30619.68,8636.32,12860.2656,17759.4144,3627.2544,5009.0656,2168.839779
121,122,University of Florida,United States,50095,18.7,0.09,54:46,1.008276e+14,51.8,56.8,67.7,52.400,33.3,2016,45586.45,4508.55,24616.683,20969.767,2434.617,2073.933,2678.877005
165,164,Yeshiva University,United States,6753,5.5,0.07,53:47,9.396596e+13,44.8,23.7,92.8,47.450,28.5,2016,6280.29,472.71,3328.5537,2951.7363,250.5363,222.1737,1227.818182
210,211,Indiana University,United States,62468,13.6,0.13,53:47,9.396596e+13,43.0,27.3,74.8,46.575,41.2,2016,54347.16,8120.84,28803.9948,25543.1652,4304.0452,3816.7948,4593.235294
212,213,University of Kiel,Germany,24444,23.8,0.08,53:47,9.396596e+13,32.3,20.5,89.5,47.925,49.4,2016,22488.48,1955.52,11918.8944,10569.5856,1036.4256,919.0944,1027.058824
418,419,Nantes Universitï¿½,France,33866,22.2,0.11,56:44,9.396596e+13,19.6,12.2,69.4,34.075,35.1,2016,30140.74,3725.26,16878.8144,13261.9256,2086.1456,1639.1144,1525.495495
422,423,University of Neuchï¿½tel,Switzerland,4358,8.5,0.22,59:41,7.669919e+13,24.2,14.7,48.2,44.625,91.4,2016,3399.24,958.76,2005.5516,1393.6884,565.6684,393.0916,512.705882
461,462,Howard University,United States,10297,6.8,0.05,65:35,9.396596e+13,38.8,11.0,44.5,31.150,30.3,2016,9782.15,514.85,6358.3975,3423.7525,334.6525,180.1975,1514.264706
475,476,National and Kapodistrian University of Athens,Greece,63052,32.3,0.09,61:39,1.060893e+14,26.7,16.3,45.8,31.950,39.0,2016,57377.32,5674.68,35000.1652,22377.1548,3461.5548,2213.1252,1952.074303
476,477,Louisiana State University,United States,28116,20.1,0.05,52:48,8.824156e+13,26.8,27.7,37.8,29.600,26.1,2016,26710.20,1405.80,13889.304,12820.896,731.016,674.784,1398.805970
494,495,Xiamen University,China,32921,12.3,0.05,52:48,8.824156e+13,26.7,15.6,47.0,28.575,25.0,2016,31274.95,1646.05,16262.974,15011.976,855.946,790.104,2676.504065
504,505,American University of Beirut,Lebanon,7695,8.9,0.25,51:49,7.669919e+13,27.7,11.2,31.9,40.950,93.0,2016,5771.25,1923.75,2943.3375,2827.9125,981.1125,942.6375,864.606742
530,531,University of Chile,Chile,29207,14.2,0.03,47:53,8.824156e+13,28.3,19.6,30.5,30.625,44.1,2016,28330.79,876.21,13315.4713,15015.3187,411.8187,464.3913,2056.830986
533,534,University of Burgundy,France,26612,20.8,0.11,54:46,7.669919e+13,21.4,8.8,46.3,31.850,50.9,2016,23684.68,2927.32,12789.7272,10894.9528,1580.7528,1346.5672,1279.423077
546,547,Blaise Pascal University,France,15619,7.1,0.17,55:45,7.669919e+14,20.2,2.9,46.9,34.150,66.6,2016,12963.77,2655.23,7130.0735,5833.6965,1460.3765,1194.8535,2199.859155
563,564,Quaid-i-Azam University,Pakistan,12688,25.7,0.00,53:47,8.824156e+13,17.9,9.9,45.6,27.200,35.4,2016,12688.00,0.00,6724.64,5963.36,0.0,0.0,493.696498
602,603,Texas Tech University,United States,29512,20.9,0.07,46:54,8.824156e+13,27.9,17.2,22.0,25.975,36.8,2016,27446.16,2065.84,12625.2336,14820.9264,950.2864,1115.5536,1412.057416
616,617,Middlesex University,United Kingdom,17755,24.7,0.44,59:41,7.669919e+13,18.5,10.6,25.7,33.950,81.0,2016,9942.80,7812.20,5866.252,4076.548,4609.198,3203.002,718.825911
652,653,Universidade Federal do Rio Grande do Sul,Brazil,38743,14.8,0.01,50:50,8.824156e+13,32.6,13.7,16.8,20.500,18.9,2016,38355.57,387.43,19177.785,19177.785,193.715,193.715,2617.770270
669,670,University of Tehran,Iran,53802,27.0,0.01,45:55,8.824156e+13,27.3,17.7,15.8,19.325,16.5,2016,53263.98,538.02,23968.791,29295.189,242.109,295.911,1992.666667
678,679,University of Ghana,Ghana,37274,37.5,0.02,41:59,1.060893e+14,15.6,15.6,19.5,24.775,48.4,2016,36528.52,745.48,14976.6932,21551.8268,305.6468,439.8332,993.973333
683,684,University of Texas at El Paso,United States,19123,29.0,0.07,54:46,8.824156e+13,18.6,18.7,18.4,21.525,30.4,2016,17784.39,1338.61,9603.5706,8180.8194,722.8494,615.7606,659.413793
699,700,University of Debrecen,Hungary,29714,20.3,0.13,57:43,8.824156e+13,17.3,11.4,20.9,24.650,49.0,2016,25851.18,3862.82,14735.1726,11116.0074,2201.8074,1661.0126,1463.743842
722,723,AGH University of Krakow,Poland,35569,17.0,0.00,0.069,8.824156e+13,14.2,3.7,35.7,17.875,17.9,2016,35569.00,0.00,0.0,35569.0,0.0,0.0,2092.294118
735,736,Federal University of Sï¿½o Carlos,Brazil,18587,16.9,0.00,NaN,8.824156e+13,29.0,10.8,11.5,17.025,16.8,2016,18587.00,0.00,<NA>,<NA>,<NA>,<NA>,1099.822485
745,746,Nagasaki University,Japan,9137,7.2,0.04,36:64,8.824156e+13,22.8,10.8,14.3,17.450,21.9,2016,8771.52,365.48,3157.7472,5613.7728,131.5728,233.9072,1269.027778
749,750,Suez Canal University,Egypt,16817,6.0,0.00,65:35,8.824156e+13,22.6,5.9,16.0,19.025,31.6,2016,16817.00,0.00,10931.05,5885.95,0.0,0.0,2802.833333
759,760,"California State University, Long Beach",United States,29594,32.3,0.05,58:42,8.824156e+13,11.6,10.4,23.3,16.050,18.9,2016,28114.30,1479.70,16306.294,11808.006,858.226,621.474,916.222910
764,765,Federal University of Lavras,Brazil,10350,20.9,0.01,53:47,8.824156e+13,25.8,16.4,3.0,14.925,14.5,2016,10246.50,103.50,5430.645,4815.855,54.855,48.645,495.215311
768,769,University of Dhaka,Bangladesh,62716,6.9,0.05,34:66,8.824156e+13,21.7,7.2,9.6,18.925,37.2,2016,59580.20,3135.80,20257.268,39322.932,1066.172,2069.628,9089.275362
769,770,West University of Timisoara,Romania,12933,19.0,0.02,62:38,8.824156e+13,16.1,3.9,22.4,15.850,21.0,2016,12674.34,258.66,7858.0908,4816.2492,160.3692,98.2908,680.684211
773,774,Showa University,Japan,3675,2.5,0.00,57:43,8.824156e+13,28.5,7.9,7.0,14.350,14.0,2016,3675.00,0.00,2094.75,1580.25,0.0,0.0,1470.000000
779,780,University of Brasï¿½lia,Brazil,45880,14.5,0.02,52:48,8.824156e+13,21.9,7.4,10.4,15.950,24.1,2016,44962.40,917.60,23380.448,21581.952,477.152,440.448,3164.137931
781,782,Universidade Federal da Bahia,Brazil,39861,17.9,0.01,47:53,8.824156e+13,18.2,8.1,14.3,15.075,19.7,2016,39462.39,398.61,18547.3233,20915.0667,187.3467,211.2633,2226.871508
785,786,Universidade Federal do Paranï¿½ (UFPR),Brazil,21850,11.2,0.01,NaN,8.824156e+13,24.6,9.6,7.0,14.175,15.5,2016,21631.50,218.50,<NA>,<NA>,<NA>,<NA>,1950.892857

In [153]:
# Last proccess was about getting averages of 'Teaching', 'Research Environment', 'Research Quality', 'International Outlook' to Update 'Industry Impact'
# Now we have to get averages of all the values and update 'Overall Score'
# Get average by selecting specific columns
average_value = selected_rows[['Teaching', 'Research Environment', 'Research Quality', 'International Outlook','Industry Impact']].mean(axis=1)

# Update "Industry Impact" column with average
selected_rows.loc[:, 'Overall Score'] = average_value

# Show synced DataFrame
selected_rows

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year,Local Student Population,International Student Population,Local Female Student Population,Local Male Student Population,International Female Student Population,International Male Student Population,Number of Staff
14,15,Columbia University,United States,25055,5.9,0.28,NaN,84.925,85.9,82.2,98.1,84.925,73.5,2016,18039.60,7015.40,<NA>,<NA>,<NA>,<NA>,4246.610169
93,94,University of Bonn,Germany,32474,70.4,0.12,55:45,60.375,45.1,47.5,85.3,60.375,63.6,2016,28577.12,3896.88,15717.416,12859.704,2143.284,1753.596,461.278409
116,115,Purdue University West Lafayette,United States,39256,18.1,0.22,42:58,59.375,50.2,57.7,63.2,59.375,66.4,2016,30619.68,8636.32,12860.2656,17759.4144,3627.2544,5009.0656,2168.839779
121,122,University of Florida,United States,50095,18.7,0.09,54:46,52.400,51.8,56.8,67.7,52.400,33.3,2016,45586.45,4508.55,24616.683,20969.767,2434.617,2073.933,2678.877005
165,164,Yeshiva University,United States,6753,5.5,0.07,53:47,47.450,44.8,23.7,92.8,47.450,28.5,2016,6280.29,472.71,3328.5537,2951.7363,250.5363,222.1737,1227.818182
210,211,Indiana University,United States,62468,13.6,0.13,53:47,46.575,43.0,27.3,74.8,46.575,41.2,2016,54347.16,8120.84,28803.9948,25543.1652,4304.0452,3816.7948,4593.235294
212,213,University of Kiel,Germany,24444,23.8,0.08,53:47,47.925,32.3,20.5,89.5,47.925,49.4,2016,22488.48,1955.52,11918.8944,10569.5856,1036.4256,919.0944,1027.058824
418,419,Nantes Universitï¿½,France,33866,22.2,0.11,56:44,34.075,19.6,12.2,69.4,34.075,35.1,2016,30140.74,3725.26,16878.8144,13261.9256,2086.1456,1639.1144,1525.495495
422,423,University of Neuchï¿½tel,Switzerland,4358,8.5,0.22,59:41,44.625,24.2,14.7,48.2,44.625,91.4,2016,3399.24,958.76,2005.5516,1393.6884,565.6684,393.0916,512.705882
461,462,Howard University,United States,10297,6.8,0.05,65:35,31.150,38.8,11.0,44.5,31.150,30.3,2016,9782.15,514.85,6358.3975,3423.7525,334.6525,180.1975,1514.264706
475,476,National and Kapodistrian University of Athens,Greece,63052,32.3,0.09,61:39,31.950,26.7,16.3,45.8,31.950,39.0,2016,57377.32,5674.68,35000.1652,22377.1548,3461.5548,2213.1252,1952.074303
476,477,Louisiana State University,United States,28116,20.1,0.05,52:48,29.600,26.8,27.7,37.8,29.600,26.1,2016,26710.20,1405.80,13889.304,12820.896,731.016,674.784,1398.805970
494,495,Xiamen University,China,32921,12.3,0.05,52:48,28.575,26.7,15.6,47.0,28.575,25.0,2016,31274.95,1646.05,16262.974,15011.976,855.946,790.104,2676.504065
504,505,American University of Beirut,Lebanon,7695,8.9,0.25,51:49,40.950,27.7,11.2,31.9,40.950,93.0,2016,5771.25,1923.75,2943.3375,2827.9125,981.1125,942.6375,864.606742
530,531,University of Chile,Chile,29207,14.2,0.03,47:53,30.625,28.3,19.6,30.5,30.625,44.1,2016,28330.79,876.21,13315.4713,15015.3187,411.8187,464.3913,2056.830986
533,534,University of Burgundy,France,26612,20.8,0.11,54:46,31.850,21.4,8.8,46.3,31.850,50.9,2016,23684.68,2927.32,12789.7272,10894.9528,1580.7528,1346.5672,1279.423077
546,547,Blaise Pascal University,France,15619,7.1,0.17,55:45,34.150,20.2,2.9,46.9,34.150,66.6,2016,12963.77,2655.23,7130.0735,5833.6965,1460.3765,1194.8535,2199.859155
563,564,Quaid-i-Azam University,Pakistan,12688,25.7,0.00,53:47,27.200,17.9,9.9,45.6,27.200,35.4,2016,12688.00,0.00,6724.64,5963.36,0.0,0.0,493.696498
602,603,Texas Tech University,United States,29512,20.9,0.07,46:54,25.975,27.9,17.2,22.0,25.975,36.8,2016,27446.16,2065.84,12625.2336,14820.9264,950.2864,1115.5536,1412.057416
616,617,Middlesex University,United Kingdom,17755,24.7,0.44,59:41,33.950,18.5,10.6,25.7,33.950,81.0,2016,9942.80,7812.20,5866.252,4076.548,4609.198,3203.002,718.825911
652,653,Universidade Federal do Rio Grande do Sul,Brazil,38743,14.8,0.01,50:50,20.500,32.6,13.7,16.8,20.500,18.9,2016,38355.57,387.43,19177.785,19177.785,193.715,193.715,2617.770270
669,670,University of Tehran,Iran,53802,27.0,0.01,45:55,19.325,27.3,17.7,15.8,19.325,16.5,2016,53263.98,538.02,23968.791,29295.189,242.109,295.911,1992.666667
678,679,University of Ghana,Ghana,37274,37.5,0.02,41:59,24.775,15.6,15.6,19.5,24.775,48.4,2016,36528.52,745.48,14976.6932,21551.8268,305.6468,439.8332,993.973333
683,684,University of Texas at El Paso,United States,19123,29.0,0.07,54:46,21.525,18.6,18.7,18.4,21.525,30.4,2016,17784.39,1338.61,9603.5706,8180.8194,722.8494,615.7606,659.413793
699,700,University of Debrecen,Hungary,29714,20.3,0.13,57:43,24.650,17.3,11.4,20.9,24.650,49.0,2016,25851.18,3862.82,14735.1726,11116.0074,2201.8074,1661.0126,1463.743842
722,723,AGH University of Krakow,Poland,35569,17.0,0.00,0.069,17.875,14.2,3.7,35.7,17.875,17.9,2016,35569.00,0.00,0.0,35569.0,0.0,0.0,2092.294118
735,736,Federal University of Sï¿½o Carlos,Brazil,18587,16.9,0.00,NaN,17.025,29.0,10.8,11.5,17.025,16.8,2016,18587.00,0.00,<NA>,<NA>,<NA>,<NA>,1099.822485
745,746,Nagasaki University,Japan,9137,7.2,0.04,36:64,17.450,22.8,10.8,14.3,17.450,21.9,2016,8771.52,365.48,3157.7472,5613.7728,131.5728,233.9072,1269.027778
749,750,Suez Canal University,Egypt,16817,6.0,0.00,65:35,19.025,22.6,5.9,16.0,19.025,31.6,2016,16817.00,0.00,10931.05,5885.95,0.0,0.0,2802.833333
759,760,"California State University, Long Beach",United States,29594,32.3,0.05,58:42,16.050,11.6,10.4,23.3,16.050,18.9,2016,28114.30,1479.70,16306.294,11808.006,858.226,621.474,916.222910
764,765,Federal University of Lavras,Brazil,10350,20.9,0.01,53:47,14.925,25.8,16.4,3.0,14.925,14.5,2016,10246.50,103.50,5430.645,4815.855,54.855,48.645,495.215311
768,769,University of Dhaka,Bangladesh,62716,6.9,0.05,34:66,18.925,21.7,7.2,9.6,18.925,37.2,2016,59580.20,3135.80,20257.268,39322.932,1066.172,2069.628,9089.275362
769,770,West University of Timisoara,Romania,12933,19.0,0.02,62:38,15.850,16.1,3.9,22.4,15.850,21.0,2016,12674.34,258.66,7858.0908,4816.2492,160.3692,98.2908,680.684211
773,774,Showa University,Japan,3675,2.5,0.00,57:43,14.350,28.5,7.9,7.0,14.350,14.0,2016,3675.00,0.00,2094.75,1580.25,0.0,0.0,1470.000000
779,780,University of Brasï¿½lia,Brazil,45880,14.5,0.02,52:48,15.950,21.9,7.4,10.4,15.950,24.1,2016,44962.40,917.60,23380.448,21581.952,477.152,440.448,3164.137931
781,782,Universidade Federal da Bahia,Brazil,39861,17.9,0.01,47:53,15.075,18.2,8.1,14.3,15.075,19.7,2016,39462.39,398.61,18547.3233,20915.0667,187.3467,211.2633,2226.871508
785,786,Universidade Federal do Paranï¿½ (UFPR),Brazil,21850,11.2,0.01,NaN,14.175,24.6,9.6,7.0,14.175,15.5,2016,21631.50,218.50,<NA>,<NA>,<NA>,<NA>,1950.892857

In [154]:
df.update(selected_rows)

In [155]:
# Lets Look if there are outliers!
selected_columns = ['Overall Score']


zscore_threshold = 3
outliers_zscore = df[selected_columns][(np.abs(zscore(df[selected_columns])) > zscore_threshold).any(axis=1)]


print("Z-Score Outliers:")
print(outliers_zscore)

Z-Score Outliers:
       Overall Score
0              90.96
1              90.34
4              91.42
8              88.20
10             87.24
...              ...
10546          90.24
10547          87.30
10549          86.26
10557          86.92
10558          86.72

[78 rows x 1 columns]

In [158]:
# Lets take a look at the NaN values if there are anything important to change.

nan_rows = df[df.isna().any(axis=1)]

nan_rows

BoÅŸ deÄŸerlere sahip satÄ±rlar:

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year,Local Student Population,International Student Population,Local Female Student Population,Local Male Student Population,International Female Student Population,International Male Student Population,Number of Staff
5,6,Harvard University,United States,20152,8.9,0.25,NaN,80.960,83.6,99.0,99.8,45.200,77.2,2016,15114.00,5038.00,NaN,NaN,NaN,NaN,2264.269663
14,15,Columbia University,United States,25055,5.9,0.28,NaN,84.925,85.9,82.2,98.1,84.925,73.5,2016,18039.60,7015.40,NaN,NaN,NaN,NaN,4246.610169
18,19,University of Toronto,Canada,66198,19.5,0.15,NaN,76.600,75.9,89.3,90.9,49.100,77.8,2016,56268.30,9929.70,NaN,NaN,NaN,NaN,3394.769231
41,42,Peking University,China,40148,8.3,0.14,NaN,73.700,77.8,72.4,69.1,100.000,49.2,2016,34527.28,5620.72,NaN,NaN,NaN,NaN,4837.108434
42,43,The University of Tokyo,Japan,26199,5.7,0.10,NaN,61.280,81.4,83.0,60.9,50.800,30.3,2016,23579.10,2619.90,NaN,NaN,NaN,NaN,4596.315789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11954,1429,Pirogov Russian National Research Medical Univ...,Russian Federation,9613,6.9,0.04,NaN,24.540,44.2,13.3,14.5,28.100,22.6,2024,9228.48,384.52,NaN,NaN,NaN,NaN,1393.188406
11976,1451,Rikkyo University,Japan,19783,14.4,0.04,NaN,28.000,18.6,9.3,34.0,19.700,58.4,2024,18991.68,791.32,NaN,NaN,NaN,NaN,1373.819444
12148,1623,Moscow State University of Civil Engineering,Russian Federation,12468,13.3,0.07,NaN,24.360,20.3,11.6,25.3,39.600,25.0,2024,11595.24,872.76,NaN,NaN,NaN,NaN,937.443609
12352,1827,University of Pernambuco,Brazil,21435,16.9,0.00,NaN,17.240,16.0,10.3,15.2,18.300,26.4,2024,21435.00,0.00,NaN,NaN,NaN,NaN,1268.343195
12358,1833,Saratov State Medical University,Russian Federation,7242,6.6,0.12,NaN,17.480,25.6,10.7,3.7,16.200,31.2,2024,6372.96,869.04,NaN,NaN,NaN,NaN,1097.272727

In [ ]:
# Most of the NaN values are because of Female to Male Ratio. But dont need to clean them, we can still use the remaining
# data.

In [159]:
# Here I export the data.
df.to_csv(r'C:\Users\Enes\Desktop\Project07\universityrankingscleaned.csv', encoding = 'UTF8',index = False)